<h1> Add new film </h1>

<form action="/add-film" method="POST">
    <input type="text" name="Title"
    placeholder="Title">
    <input type="text" name="Genre"
    placeholder="Genre">
    <input type="text" name="Premiere"
    placeholder="Premiere">
    <input type="text" name="Runtime"
    placeholder="Runtime">
    <input type="text" name="IMDBScore"
    placeholder="IMDB Score">
    <input type="text" name="Language"
    placeholder="Language">
    <button>Submit</button>
</form>

<h1>This is home page</h1>

<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>